[submodule "dependencies/Paracabs"]
	path = dependencies/Paracabs
	url = https://github.com/Magritte-code/Paracabs
[submodule "dependencies/eigen"]
	path = dependencies/eigen
	url = https://gitlab.com/libeigen/eigen
