# Configuration file for Travis-CI
##################################

language:
  - python
  - cpp
  - bash

python:
    - "3.7"

cache:
  directories:
  - mpich

matrix:
  include:
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - libgomp1
            - gcc-9
            - g++-9
      env:
         - MATRIX_EVAL="CC=gcc-9 && CXX=g++-9"
    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - libgomp1
            - gcc-8
            - g++-8
      env:
         - MATRIX_EVAL="CC=gcc-8 && CXX=g++-8"

before_install:
  - eval "${MATRIX_EVAL}"
  - bash dependencies/get_cmake.sh
  - bash dependencies/get_mpich.sh
  - PYTHON_EXEC=$(which python)
  - BUILD_FLAGS="-DPYTHON_EXECUTABLE:FILEPATH=$PYTHON_EXEC -DOMP_PARALLEL=ON"
  # - bash dependencies/get_conda.sh
  # - export PATH=`pwd`/dependencies/miniconda3/bin:$PATH
  # - source activate magritte
  - CMAKE_CMD="`pwd`/dependencies/cmake/bin/cmake"

install:
  - mkdir build; cd build;
  - $CC  --version
  - $CXX --version
  - $CMAKE_CMD $BUILD_FLAGS ..
  - make -j4
  - cd -
  - python setup.py install

script:
  - bash tests/run_all_tests.sh
