 numpy
 jupyterlab
 yt
 scipy
 mpi4py
 plotly
 pyyaml
 ipywidgets
 tqdm
 palettable
 h5py
 numba
 healpy
 astroquery
 nbdime
 jupyterlab-git
 pandas
 nodejs
 twine
 sphinx
 breathe
 sphinx_rtd_theme 
 sphinx-copybutton
 nbsphinx
 pytest
 plons 
