# Connected to the status badge
name: Build
on:
  push:
    branches: [ stable ]
jobs:
#Before testing, we increase the version number. Otherwise, some delay (>30 mins) may occur between updating the code and doing the version increase.
  UpdateVersion:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: Update version (locally) using commit message to determine version increase
        run: echo "NewVersion=$(python updateVersion.py "${{github.event.head_commit.message}}")" >> $GITHUB_ENV
        working-directory: CI
      - name: Auto commit the version change
        uses: test-room-7/action-update-file@v1
        with:
          file-path: version.txt
          commit-msg: "CI: increment version number to ${{env.NewVersion}}"
          github-token: ${{ secrets.GITHUB_TOKEN}}
          branch: stable


  BuildAndTest:
    needs: UpdateVersion
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: macos-latest
            PACKAGE_MANAGER: brew
            INSTALL_COMMAND: install
            DEPENDENCIES: gmsh #llvm libomp
            C-COMPILER: gcc-11
            CXX-COMPILER: g++-11
          - os: ubuntu-latest
            PACKAGE_MANAGER: sudo apt-get
            INSTALL_COMMAND: install -y
            DEPENDENCIES: gmsh libegl1
            C-COMPILER: gcc
            CXX-COMPILER: g++
    defaults:
      run:
        shell: bash -l {0} # necessary for conda
    steps:
      - run: ${{matrix.PACKAGE_MANAGER}} update
      - name: install dependencies
        run: ${{matrix.PACKAGE_MANAGER}} ${{matrix.INSTALL_COMMAND}} ${{matrix.DEPENDENCIES}}

      # retrying checkout: 3 tries, with 5 seconds wait inbetween
      - name: Check out repository code (try 1)
        id: checkouttry1
        uses: actions/checkout@v3
        with: #no ref: thus checks out commit which triggered workflow
          submodules: true
      - name: wait 5 s if attempt failed
        if: steps.checkouttry1.outcome == 'failure'
        run: sleep 5
      - name: Check out repository code (try 2)
        id: checkouttry2
        if: steps.checkouttry1.outcome == 'failure'
        uses: actions/checkout@v3
        with: #no ref: thus checks out commit which triggered workflow
          submodules: true
      - name: wait 5 s if attempt failed
        if: steps.checkouttry2.outcome == 'failure'
        run: sleep 5
      - name: Check out repository code (try 3)
        id: checkouttry3
        if: steps.checkouttry2.outcome == 'failure'
        uses: actions/checkout@v3
        with: #no ref: thus checks out commit which triggered workflow
          submodules: true
      # end retrying checkout

      - name: setup python
        uses: actions/setup-python@v3

      # retrying setting up conda: 3 tries, with 5 seconds wait inbetween
      - name: Install conda packages (try 1)
        id: setupcondatry1
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: magritte
          environment-file: dependencies/conda_env.yml
          auto-activate-base: false
          mamba-version: "*"
          channels: conda-forge, defaults
      - name: wait 5 s if attempt failed
        if: steps.setupcondatry1.outcome == 'failure'
        run: sleep 5
      - name: Install conda packages (try 2)
        id: setupcondatry2
        if: steps.setupcondatry1.outcome == 'failure'
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: magritte
          environment-file: dependencies/conda_env.yml
          auto-activate-base: false
          mamba-version: "*"
          channels: conda-forge, defaults
      - name: wait 5 s if attempt failed
        if: steps.setupcondatry2.outcome == 'failure'
        run: sleep 5
      - name: Install conda packages (try 3)
        id: setupcondatry3
        if: steps.setupcondatry2.outcome == 'failure'
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: magritte
          environment-file: dependencies/conda_env.yml
          auto-activate-base: false
          mamba-version: "*"
          channels: conda-forge, defaults
      # end retrying conda

      - name: build Magritte
        run: bash build.sh
        env:
          CC : ${{ matrix.C-COMPILER }}
          CXX: ${{ matrix.CXX-COMPILER }}

      #and finally do our tests (located in the benchmarks folder)
      - name: run analytic tests
        run: pytest --verbose
        working-directory: tests/benchmarks/analytic
      - name: run numeric tests
        run: pytest --verbose
        working-directory: tests/benchmarks/numeric
